*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    background-color: white;
}


/* Common  Section CSS*/

.container{
    width: 80%;
    max-width: 1170px;
    margin: 0 auto;
}

.row{
    display: flex;
    width: 100%; 
}

.ds_homepage_sections{
  margin: 3rem auto 10rem;
}

.col-8{
    width: calc(100% / 12*8);
    height: 80%;
    margin: auto;
}

.col-4{
    width: calc(100% / 12*4);
    height: 80%;
    margin: auto;
}

.col-3{
    width: calc(100% / 12*3);
    height: 80%;
    margin: auto;
}

.hCard{
    height: 450px;
    display: flex;
    padding: 1.5rem 0;
}

.hFooter{
    height: 648px;
}

.col_padding{
    padding: 2.5rem 1.5rem 1.5rem ;
}

/*Header CCS*/
#site_header{
    padding: 0.5rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#site_header>div{
    background-color: red;
    border: 3px solid black;
}

.central_column{
    width: 60%;
}

.lateral_column{
    width: 20%;
}

.bottom_footer{
    height: 20px;
}



/*Hero CSS*/

.hero_section{
    display: flex;
    justify-content: center;
    padding: 4rem;
}

.hero_card{
    width: 760px;
    height: 340px;
    background-color: grey;
}

.card{
   height: 100%;
}

footer{
    padding-bottom: 3rem;
}

/* Debug Zone*/

.debug .container{
    background-color: orange;

}
.debug #site_header{
    background-color: grey;
}

.debug .hero_section{
    background-color: #95a8e3;
    height: 537px;
}

.debug .row{
  background-color: #cec2aa;
}

.debug .card{
    background-color: #85c0c6;
}

.debug footer{
    background-color:blue;
}

.debug [class^='col-']{
    background-color:  #8fe2aa;
}
